// 変数
//=======================================================

// サイト幅
//----------------------------
// $site_width: 1400px;
// $contentMaxWidth: 1096px;

// カラー
//----------------------------
$color_text: #333; //テキスト
$color_main: #04384c; //メインカラー

$color_border: rgba(200, 200, 200, .5); //ボーダー
$color_note: #e03030; //注意書きの赤字

$color_shadow: rgba(0, 0, 0, .12);
$color_thin_shadow: rgba(0, 0, 0, .06);
// $color_gray: rgba(200, 200, 200, .15);
$hover_gray:  rgba(150, 150, 150, .05);

// エディター用
//----------------------------
$color_guide: rgba(123, 134, 162, .3);//#b8c7da;

