// リンクカラー
a {
    color: var(--ark-color_link);
}

// 全体の幅
.wp-block {
    // max-width: 900px;
    max-width: var(--ark-block_width, 900px);

    &[data-align="wide"] {
        max-width: calc(var(--ark-block_width, 900px) + var(--ark-alignwide_plus_width, 200px));
    }
}

// ブロッククラッシュ時の表示
// .block-editor-warning {
//     max-width: var(--ark-block_width, 900px);
//     margin-right: auto;
//     margin-left: auto;
// }

.wp-block-cover__inner-container,
.wp-block-group__inner-container,
.wp-block-media-text__content,
.wp-block-column {

    > .wp-block {
        max-width: 100%;
    }
}


// フォント系
.block-editor .editor-styles-wrapper {
    color: var(--ark-color_text);
    font-size: var(--ark-font_size, 16px);
    font-family: var(--ark-font_family);
    line-height: var(--ark-line_height, 1.8);
    background-color: var(--ark-color_bg);
}

.editor-post-title .editor-post-title__input {
    font-size: 2rem;
}

// 本文エリア
.block-editor-writing-flow {

    // 5.7 ~ エディターの縦幅の最小値がなくなっている
    .branch-5-7 &,
    .branch-5-8 & {
        padding-bottom: 40px;
    }
}

// タイトル下の余白が亡くなったことへの対応
.branch-5-8 {

    .edit-post-visual-editor__post-title-wrapper {
        margin-bottom: 2em;
    }
}

//aligncenterにclearが付くようになったので、それに合わせる
[data-align="center"] {
    clear: both;
}


// ブロックの「Move To」モードで出てくる ::before のバーが崩れないように、CSS強める
#wpbody .is-block-moving-mode {

    .wp-block.is-selected {

        &::before {
            position: absolute;
            top: -14px;
            right: 0;
            bottom: auto;
            left: 0;
            z-index: 0;
            display: inline;
            margin: 0;
            padding: 0;
            border: none;
            border-top: 4px solid var(--wp-admin-theme-color);
            border-radius: 2px;
            transform: none;
            content: "";
        }
    }
}
