// 本文エリア
// .block-editor-writing-flow,
.editor-styles-wrapper {

    //最初のブロックの上にはマージン付けない
    .is-root-container > [data-type="core/heading"]:first-child {
        margin-top: 0 !important;
    }

    // ブロック感のマージン ( default: 28px )
    .block-editor-block-list__block {
        margin-top: var(--ark-mt);
        margin-bottom: 0;

        &[data-type="core/heading"] {
            margin-top: var(--ark-mt--h);
        }
    }

    // block-editor-block-list__layout is-root-container
    .is-root-container {

        & > [data-align="full"] + [data-align="full"] {

            & > .block-editor-block-list__block {
                margin-top: 0;
            }
        }
    }


    // 余白を小さくするエリア。
    // カラムブロック・メディアと文章ブロックの中 / 通常幅のカバー・グループブロックの中
    .wp-block-column,
    .wp-block-media-text__content,
    .wp-block > .wp-block-cover__inner-container,
    .wp-block > .wp-block-group__inner-container {

        & > .block-editor-block-list__block {
            margin-top: var(--ark-mt--s);
        }
    }

    // インナーブロック
    .block-editor-block-list__layout {

        & > .block-editor-block-list__block:first-child,
        & > .block-list-appender:first-child {
            margin-top: 0 !important;
        }

        & > .block-list-appender {
            margin-top: var(--ark-mt--s);
            margin-bottom: 0;

            .block-editor-default-block-appender__content {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        // 段落下の透明になってる .block-list-appender の無駄な余白を消す。
        [data-type="core/paragraph"] + .block-list-appender {
            margin-top: 0;
        }
    }
}
