@charset "UTF-8";

html{
    font-size: var(--ark-font_size);
    @include mobile {
        font-size: var(--ark-font_size_sp);
    }
}

body {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: var(--ark-color_text);
    font-weight: 400;
    font-family: var(--ark-font_family);
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: var(--ark-color_bg);
    -webkit-text-size-adjust: 100%;
}


// リンクカラー
a {
    color: var(--ark-color_link);
}
