
// 共通
.mce-content-body,
.editor-styles-wrapper {

    @import "./post_content";

    // li {
    // 前後のブロックまでフォーカスがぶっとんでいくの防止
    // line-height: 1.5;

    //relativeだと スマホで日本語入力できなくなる。（スタイルは崩れるので、バグフィックスされたら外す。）
    // @include mobile {
    //     position: static;
    // }
    // }

    // エディターではどちらも表示させる（編集できるように）
    .u-only-pc,
    .u-only-sp {
        display: block !important;
    }

    @include pc {

        .u-only-sp {
            opacity: .5;
        }
    }

    @include sp {

        .u-only-pc {
            opacity: .5;
        }
    }
}

