// フロントで読み込む

// マージン
.c-postContent {

    margin: 0;
    padding: 0;
    line-height: 1.8;

    & > * {
        margin-top: var(--ark-mt);
        margin-bottom: 0; //コアのスタイルで margin-bottom の指定があったりするので打ち消しておく
    }

    .l-content__main__body > & {
        margin-top: 4rem;
    }


    .c-pageTitle + & {
        margin-top: 0;
    }

    @import "./post_content";

}


// マージン小さく維持
.wp-block-column,
.wp-block-media-text__content,
.wp-block-cover__inner-container,
.wp-block-group__inner-container {

    & > * {
        margin-top: var(--ark-mt--s);
        margin-bottom: 0;
    }
}

// マージン通常コンテンツと同じエリアに広げる : 幅広のカバー・グループ
.alignwide > .wp-block-cover__inner-container,
.alignfull > .wp-block-cover__inner-container,
.alignwide > .wp-block-group__inner-container,
.alignfull > .wp-block-group__inner-container {

    & > * {
        margin-top: var(--ark-mt);
    }
}


// 先頭要素は上側のマージンを打ち消す。
.c-postContent > :first-child,
.c-postContent div > :first-child {
    margin-top: 0 !important;
}

