@charset "UTF-8";

/* ---------- 見出し ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    // position: relative;
    margin-top: var(--ark-mt--h);
    font-weight: 700;
    line-height: 1.5;
}

h1 {
    font-size: 1.75rem;

    @include tab {
        font-size: 2rem;
    }
}

h2 {
    // z-index: 1;
    font-size: 1.75rem;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;

}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

// DL
dt {
    font-weight: bold;
}

/* ---------- 横線 ---------- */
hr {
    margin: 2.5em 0;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
}


// pre
pre {
    padding: 1rem;
    overflow-x: auto;
    background-color: var(--ark-color_gray);

    code {
        font-size: .9rem;
        font-family: Menlo, Consolas, monaco, monospace;
    }
}

/* ---------- 引用 ---------- */
blockquote {
    padding: .25rem 1rem;
    background: none;
    border-left: solid 2px var(--ark-color_border);

    cite {
        display: block;
        margin-top: .75rem;
        font-size: .8rem;
        opacity: .75;
    }

    // p {
    //     position: relative;
    //     z-index: 1;
    // }

    p + p {
        margin-top: .75rem;
    }
}

/* ---------- テーブル ---------- */
// borderを分けて指定しているのはSPでの縦並びも考慮しているため。
table {
    width: 100%;
    max-width: 100%;
    text-align: left;
    border: none;
    border-top: solid 1px var(--ark-color_table_border);
    border-right: solid 1px var(--ark-color_table_border);
    // border-collapse: separate;
    border-spacing: 0;

    caption {
        margin-top: .75rem;
        font-size: .9rem;
        opacity: $thin_text_opacity;
    }
}

th,
td {
    padding: .5em .75em;
    vertical-align: top;
    border-bottom: solid 1px var(--ark-color_table_border);
    border-left: solid 1px var(--ark-color_table_border);
}

thead {

    td,
    th {
        color: #fff;
        background-color: var(--ark-color_main);
    }
}

tbody th {
    font-weight: bold;
    background-color: var(--ark-color_gray);
}


/* ---------- テキスト装飾 ---------- */
//インラインコード
:not(pre) > code {
    display: inline-block;
    margin: 0 .25em;
    padding: .2em .5em;
    color: #3f3f3f;
    font-size: .9em;
    font-family: Menlo, Consolas, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "メイリオ", sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
    background: #193b6514;
    border-radius: 3px;
}


small {
    font-size: .75rem;
    opacity: $thin_text_opacity;
}


iframe {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


figcaption {

    @extend %figcaption;

}
