[data-type="core/buttons"] {

    .block-editor-inner-blocks {
        text-align: inherit !important; //.wp-block-media-textの中だと initialになってしまう。
    }

    [data-type="core/button"] {
        display: block;
        margin-top: 0;
        margin-bottom: 0;

        & + .block-list-appender {
            margin-top: 0 !important;
        }
    }

    .has-background {
        padding: .75em 1.5em !important;
    }

    // 5.6未満用
    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

}


[data-align="center"] > .wp-block-buttons {
    justify-content: center;
}
