[data-type="core/html"] {

    .block-editor-plain-text {
        max-height: 250px;
        padding: .8em 1em;
        color: #1e1e1e;
        font-size: 14px;
        font-family: Menlo, Consolas, monaco, monospace;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}
