[data-type="core/html"] {

	.block-editor-plain-text {
		max-height: 250px;
		padding: .8em 1em;
		font-family: Menlo, Consolas, monaco, monospace;
		font-size: 14px;
		color: #1e1e1e;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
}
