//画像
.wp-block-image {
    text-align: center;

    // .is-resized は 50& とかにすると付くクラス。
    // &.is-resized {}
    .components-resizable-box__container {
        max-width: 100% !important;
        height: auto !important;
    }

}
