// リスト
.editor-styles-wrapper {

	ul[data-type="core/list"] {
		list-style: disc;
	}

	ol[data-type="core/list"] {
		list-style: decimal;
	}

	[data-type="core/list"] {
		box-sizing: border-box;
		white-space: normal;
	}
}
