// リスト
.editor-styles-wrapper {

    ul[data-type="core/list"] {
        list-style: disc;
    }

    ol[data-type="core/list"] {
        list-style: decimal;
    }

    // .editor-styles-wrapper ul, .editor-styles-wrapper ol の padding-left に負けないように。
    [data-type="core/list"] {
        box-sizing: border-box;
        padding-left: 1.5em;
        white-space: normal;

        ol {
            margin-left: 0;
            padding-left: 1.5em;
        }

        ul {
            margin-left: 0;
            padding-left: 1.5em;
            list-style: circle;
        }
    }
}

//全幅グループブロック内で 0 にされるのを防ぐ
[data-align="full"] .wp-block-group > .wp-block-group__inner-container > .wp-block[data-type="core/list"] {
    padding-left: 1.5em;

    &.has-background {
        padding-left: 3em;
    }
}
