.wp-block-code {
    padding: 0 !important;
    background-color: var(--ark-color_gray);
    border: none;

    .block-editor-plain-text {
        display: block;
        margin: 0;
        padding: 1rem;
        overflow-x: auto !important;
        font-size: .9rem;
        white-space: pre;
        background: none;
    }
}

.wp-block-preformatted {
    font-family: inherit;
}
