/*
ブロック
    .wp-block-calendar
        table.wp-calendar-table
        nav.wp-calendar-nav

ウィジェット
    .widget_calendar
        .calendar_wrap
            table.wp-calendar-table
            nav.wp-calendar-nav
 */

// tableのラッパー
.wp-block-calendar,
.calendar_wrap {
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 24px;
    color: #333;
    background: #fff;
    border: 1px solid var(--ark-color_border);

    @include tab {
        font-size: 14px;
    }
}


.wp-block-calendar,
.widget_calendar {

    // 5.3まではtableにクラスついていない
    table {
        width: 100%;
        text-align: center;
        border: none;
    }

    caption {
        padding: 0 0 .75em;
        color: #40464d; //.wp-block-calendarに合わせる
        line-height: 1;

        @include tab {
            font-size: 13px;
        }
    }

    // th,
    // td {
    //     text-align: center;
    // }

    thead th {
        padding: 0 0 10px;
        color: inherit;
        font-weight: 700;
        background: none;
        border: none;
    }

    tbody {

        a {
            display: block;
            color: #fff !important;
            line-height: 36px;
            background-color: var(--ark-color_main);
        }
    }

    tbody td {
        padding: 0;
        font-family: arial, sans-serif;
        line-height: 36px;
        text-align: center;
        background: #f7f7f7;
        border: 1px solid #fff;
    }

    .pad {
        background: none;
    }

    // #prev & #next は ~5.3
    #prev,
    #next {
        padding-top: 8px;
        text-transform: uppercase;

        @include tab {
            font-size: 13px;
        }
    }

    #prev {
        text-align: left;
    }

    #next {
        text-align: right;
    }
}

// 5.4~
.wp-calendar-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    a {
        color: inherit;
    }
}
