
// .wp-block-rss,
.wp-block-latest-comments,
.widget_recent_comments {
	// レガシーウィジェット : li.recentcomments / ブロック : li.wp-block-latest-comments__comment
	li {
		position: relative;
		margin: 0;
		padding: var(--ark-nav-padding, .75rem .5rem);
		line-height: 1.5;
		border-bottom: solid 1px var(--ark-color_border);
	}
}

li.wp-block-latest-comments__comment {

	&::after {
		display: block;
		clear: both;
		height: 0;
		content: "";
	}
}
