// 「最新の投稿」
.widget_recent_entries {

    li {
        position: relative;
        margin: 0;
        border-bottom: solid 1px var(--ark-color_border);
    }

    a {
        position: relative;
        display: block;
        padding: var(--ark-nav-padding, .75rem .5rem);
        color: inherit;
        text-decoration: none;
        transition: background-color .25s;

        &:hover {
            background-color: var(--ark-hover_gray);
        }

    }
}

.recent_entries_date {
    display: block;
    margin-top: 2px;
}
