//画像
.wp-block-image {
    text-align: center;

    &.is-resized,
    &.is-resized .editor-rich-text {
        display: block !important;
    }

    .components-resizable-box__container {
        max-width: 100% !important;
        height: auto !important;
    }
}

// 左寄せ・右寄せの調節
.editor-block-list__layout
.editor-block-list__block[data-align="left"] > .editor-block-list__block-edit,
.editor-block-list__layout
.editor-block-list__block[data-align="right"] > .editor-block-list__block-edit {
    max-width: 100% !important;
}
