[data-type="core/archives"] .wp-block-archives-list,
[data-type="core/categories"] .wp-block-categories__list {
    padding: 0 !important;
    list-style: none;
    border-top: solid 1px var(--ark-color_border);
}

.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-categories,
.wp-block-archives,
.wp-block-tag-cloud {

    a {
        pointer-events: none;
    }
}


.wp-block-latest-posts {
    margin: 0 !important;
    padding: 0 !important;
}
