
// サムネイル
.c-postThumb {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.c-postThumb__figure {
    position: relative;
    z-index: 0;
    width: 100%;
    margin: 0;
    padding-top: var(--ark-thumb_ratio);
    overflow: hidden;
    transform: perspective(0);
    backface-visibility: hidden;

}


.c-postThumb__img {

    @extend %objFitCover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1) perspective(0);
    backface-visibility: hidden;
    transition: transform .25s;
}

