// 著者部分
.c-postAuthor {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.c-postAuthor__figure {
    width: 20px;
    height: 20px;
    margin-right: .25rem;
    margin-left: 1px;
    overflow: hidden;
    border-radius: 50%;

    .avatar {

        @extend %objFitCover;
    }
}

// .c-postAuthor__name {}
