.c-postMetas {

    & > div,
    & > .c-postAuthor {
        // margin: 4px 0;
        margin-bottom: 4px;
    }
}

.c-postMetas__icon {
    display: block;
    margin-right: .25rem;

    // &.arkhe-svg {
    //     width: 1em;
    //     height: 1em;
    //     fill: currentColor;
    // }

    // path {
    //     fill: inherit;
    // }
}
