.c-rssSite {
    display: flex;
    margin-right: .5rem;
}

.c-rssSite__favi {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: .25rem;
}

.c-rssAuthor {
    display: flex;
    align-items: center;
}
