// サブメニューの展開

%w_Ul {

    a {
        position: relative;
    }

    // a + ul がある時
    a:not(:last-child) {

        padding-right: 3rem;

        @include tab {
            padding-right: 40px;
        }
    }
}

%w_childUl {
    position: relative;
    height: 0;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .25s;

    &.is-opened {
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    a {
        padding-left: 1.5rem;
        font-size: .9em; //em
    }

    // さらに子メニュー
    ul a {
        padding-left: 2.5rem;
    }

}

// グロナビ・ドロワーメニュー
.c-drawerNav,
.c-gnav .sub-menu {

    @extend %w_Ul;

    .sub-menu {

        @extend %w_childUl;
    }
}

// ウィジェット系
.wp-block-categories,
.widget_categories,
.widget_pages {

    @extend %w_Ul;

    .children {

        @extend %w_childUl;

    }
}

// ナビメニュー
.widget_nav_menu {

    @extend %w_Ul;

    .sub-menu {

        @extend %w_childUl;
    }

}

