.c-fixBtn {
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #fff;
    line-height: 1;
    background: var(--ark-color_main);
    border-radius: 1px;
    box-shadow:
        0 2px 8px rgba(0, 0, 0, .2),
        0 4px 4px -4px rgba(0, 0, 0, .15);
    cursor: pointer;
    opacity: .5;
    transition: opacity .25s;

    @include pc {

        &:hover {
            opacity: 1;
        }
    }

    // & + & {
    //     margin-top: 12px;
    // }
}

.c-fixBtn__icon {
    display: block;
    font-size: 16px;
}
