/*
    SNSのアイコンリスト用。
    アイコンのリストを横に並べるというだけのスタイルを当てる。
    justify-contentなどは個別に指定。
*/
.c-iconList {
    display: flex;
    flex-wrap: wrap;

    .l-footer__foot & {
        justify-content: center;
        margin-bottom: 8px;
    }
}

.c-iconList__item {

    &:not(:last-child) {
        margin-right: 4px;
    }
}

.c-iconList__link {
    display: block;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 2px;
    color: inherit;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: none;
    border: none;
    box-shadow: none;
    transition: opacity .25s;

    &:hover {
        opacity: .75;
    }
}

.c-iconList__icon {
    display: block;
    line-height: 1;

    &::before {
        color: inherit;
    }
}


.is-style-circle {

    .c-iconList__link {
        padding: 4px;
        border: solid 1px;
        border-radius: 50%;
    }

    .c-iconList__icon {
        padding-left: .5px;
    }
}
