// ヘッダー内で使われるハンバーガーメニューボタンやサーチアイコン
.c-iconBtn {
    // display: flex;
    // flex-wrap: wrap;
    // align-content: center;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;

    .-menuBtn {
        z-index: 1;
    }
}

.c-iconBtn__icon {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1;

    .__icon {
        display: block;
        transform-origin: 50% 50%;
        transition: .25s;

        &::before {
            display: block;
        }
    }

    .-close {

        @extend %absLayer;
        transform: rotate(180deg);
        opacity: 0;
        // z-index: 1;
    }

    [data-drawer="opened"] & {

        .-close {
            transform: rotate(0);
            opacity: 1;
        }

        .-open {
            transform: rotate(-180deg);
            opacity: 0;
        }
    }
}

.c-iconBtn__label {
    display: block;
    width: 100%;
    font-size: 10px;
    // text-align: center;
    transform: scale(.9);
}
