.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition-duration: .5s;
    transition-property: visibility, opacity;

    [data-loaded="false"] & {
        display: none;
    }

    &.is-open {
        visibility: visible;
        opacity: 1;
    }
}
