@charset "UTF-8";

/**
 * 投稿リスト / コメントエリア のページャーは各番号に .page-numbers
 * 投稿ページのページャーは 各番号に.post-page-numbers
 */

// .c-pagination,
.pagination {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    font-size: 13px;

    // ...の部分
    .dots {
        margin: 0;
        opacity: $thin_text_opacity;
    }

    .prev,
    .next {
        display: none;
    }
}

// post-page-numbers or page-numbers
.post-page-numbers,
.page-numbers {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: auto;
    min-width: 32px;
    height: 32px;
    margin: 0 2px;
    padding: 0;
    color: inherit;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition: color .25s, background-color .25s;

    @media (max-width: 340px) {
        min-width: 28px;
        height: 28px;
        line-height: 28px;
    }

    @include tab {
        min-width: 40px;
        height: 40px;
        line-height: 40px;
    }

    &:not(.dots) {

        &:hover,
        &.current {
            color: #fff;
            background-color: var(--ark-color_main);
        }
    }

}

.page-numbers[data-apart="2"] {

    @media (max-width: 360px) {
        display: none;
    }

}
