// 投稿ページのタイトル周り
.c-postTitle {
    width: 100%;
    font-size: 5vw;
    line-height: 1.4;

    @include tab {
        font-size: 24px;
    }
}

// Bigリストで
.p-postList {

    .c-postTitle {
        font-size: 4vw;

        @include tab {
            font-size: 20px;
        }
    }
}
