@charset "UTF-8";

// mixin
@import "../foundation/mixin/**";

// setting
@import "../foundation/setting/variable";

// utility
@import "object/utility/**";


// 投稿一覧の「クラシックエディター」などの文字を小さく薄く表示
table.wp-list-table .post-state {
    color: #666;
    font-size: 11px;
}

// Macの 新OSで見るとチェックボックスが青くつぶれるのを阻止
// input[type=radio],
//.customize-control input[type=checkbox]
// input[type="checkbox"] {
//     -webkit-appearance: none !important;
// }
