//プルクォート
.wp-block-pullquote {
    float: none !important; //ブロックエディター側にも届くように
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    border-top: solid 2px currentColor;
    border-bottom: solid 2px currentColor;


    &.alignleft {
        max-width: 100%;
        text-align: left;

    }

    &.alignright {
        max-width: 100%;
        text-align: right;
    }

    & > blockquote {
        margin: 0;
        padding: .5rem;
        background: none;
        border-left: none !important;
    }

    p {
        font-size: 1.2rem !important; //align付きやsolid styleで上書きされてしまう
    }

    a {
        text-decoration: underline;
    }

    &.is-style-solid-color {
        background-color: var(--ark-color_gray);
    }
}
