.wp-block-cover {
    padding: 2rem;
    overflow: hidden;

    @include sp {
        padding: 1rem;
    }

}

.wp-block-cover__inner-container {

    .wp-block-cover & {
        width: 100%;
    }
}
