.wp-block-buttons {

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.aligncenter {
        justify-content: center;
    }

    .wp-block-button {
        display: block;
        margin: 0;
        padding: 4px;
    }
}
//WPコアのボタンブロック
.wp-block-button {

    &:not(.is-style-outline) {

        .wp-block-button__link:not(.has-text-color) {
            color: #fff;
        }
    }
}

.wp-block-button__link {
    min-width: 8rem;
    padding: .75em 1.5em;
    font-size: 1rem;
    line-height: 1.5;
    transition: opacity .25s;

    .is-style-outline > & {
        border-width: 1px;
    }

    &:hover {
        opacity: .75;
    }
}
