// 5.2までは ul.wp-block-galleryだった -> サポートしない
// ul.wp-block-gallery {}

//5.3からは figure.wp-block-gallery > ul.blocks-gallery-grid

.wp-block-gallery {

    .blocks-gallery-grid {
        width: 100%;
    }

    .blocks-gallery-grid,
    .blocks-gallery-item {
        padding: 0;
    }

    figure {
        margin: 0;
    }


}

.gallery-caption,
.blocks-gallery-caption {
    width: 100%;
    font-size: .8rem;
    text-align: center;
    opacity: $thin_text_opacity;
}
