.wp-block-quote {

    &.has-text-align-center {
        border-left: none;
    }

    &.has-text-align-right {
        border-right: solid 2px var(--color_border);
        border-left: none;
    }

    // スタイル：「大」
    &.is-style-large {

        position: relative;
        margin: 0;
        padding: 2.5em 3em;
        background: var(--color_gray);
        border: none;

        .c-postContent & {
            // コアのスタイルでマージンが指定されているのを上書き
            margin-top: 2em;
        }

        &::before,
        &::after {
            position: absolute;
            z-index: 0;
            display: inline-block;
            color: #000;
            font-size: 6em;
            font-family: Arial, sans-serif;
            line-height: 1;
            opacity: .1;
            content: "\00201c";
        }

        &::before {
            top: 2px;
            left: 8px;
        }

        &::after {
            right: 8px;
            bottom: 2px;
            transform: rotate(180deg);
        }

        p {
            font-size: 1.1em;
        }

        cite {
            font-size: .9em;
            text-align: inherit;
        }

    }
}
