
// コアブロック
.is-core-list {
    margin-left: 0;
    padding-left: 1.5em;

    ul {
        margin-left: 0;
        padding-left: 1.5em;
        list-style: circle;
    }

    ol {
        margin-left: 0;
        padding-left: 1.5em;
    }

    li {
        margin: .1em 0;
    }
}

ul.is-core-list {
    list-style: disc;
}

ol.is-core-list {
    list-style: decimal;
}
