// ヘッダーバー
.l-header__bar {
	position: relative;

	.l-header__barInner {
		display: flex;
		justify-content: flex-end;
	}

	.c-tagline {
		width: 50%;
		padding: 4px 0;
		margin-right: auto;
		overflow: hidden;
		font-size: 11px;
		letter-spacing: .2px;
		white-space: nowrap;
	}

}
