// 本文エリア
.block-editor-writing-flow {

    //最初のブロックの上にはマージン付けない
    .is-root-container > [data-type="core/heading"]:first-child {
        margin-top: 0 !important;
    }

    // ブロック感のマージン ( default: 28px )
    .block-editor-block-list__block {
        margin-top: 2em;
        margin-bottom: 0;
    }

    // block-editor-block-list__layout is-root-container
    .is-root-container {

        & > [data-align="full"] + [data-align="full"] {

            & > .block-editor-block-list__block {
                margin-top: 0;
            }
        }
    }


    // 余白を小さくするエリア。 (全幅や幅広の時は適用しないように .wp-block が一つ上の層にある通常時だけ指定)
    .wp-block > .wp-block-column,
    .wp-block > .wp-block-group__inner-container,
    .wp-block > .wp-block-cover__inner-container,
    .wp-block-media-text__content {

        .block-editor-block-list__block {
            margin-top: 1em;
            // margin-bottom: 1em;
        }
    }

    // data-align="full"

    // インナーブロックを持つコアブロックの最初と最後のブロックの余白を打ち消す
    .block-editor-inner-blocks > .block-editor-block-list__layout, //コア以外のインナーブロック
    .wp-block-column,
    .wp-block-media-text__content,
    .wp-block-cover__inner-container,
    .wp-block-group__inner-container {

        & > :first-child {
            margin-top: 0 !important;
        }

        // & > :last-child,
        // & > :nth-last-child(2) {
        //     margin-bottom: 0 !important;
        // }

        & > .block-list-appender {
            margin-top: 1em;
            margin-bottom: 0;

            .block-editor-default-block-appender__content {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        [data-type="core/paragraph"] + .block-list-appender {
            margin-top: 0;
        }
    }
}
