// スリム幅
.post-template-default,
.page-template-one-column-slim,
.post-template-one-column-slim {
    --ark-article_width: var(--ark-slim_width);
}

.l-article {
    max-width: var(--ark-article_width);

    [data-sidebar="off"] & {
        // max-width: 964px;
        margin-right: auto;
        margin-left: auto;
    }
}
