.l-container {
    max-width: var(--ark-container_width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--ark-pad--container);
    padding-left: var(--ark-pad--container);

    // @include pc {
    //     padding-right: 48px;
    //     padding-left: 48px;
    // }
}
