.l-container {
    max-width: var(--ark-container_width);
    margin-right: auto;
    margin-left: auto;
    padding-right: 4vw;
    padding-left: 4vw;

    @include pc {
        padding-right: 48px;
        padding-left: 48px;
    }
}
