@charset "UTF-8";

.l-footer {
    position: relative;
    z-index: 0;
    color: #333;
    background-color: #fff;

    a,
    span {
        color: inherit;
    }
}


.l-footer__inner {

    @include sp {
        // #fix_bottom_menuと同じ値
        padding-bottom: calc(env(safe-area-inset-bottom) * .5);
    }
}

.l-footer__widgets {
    padding: 2rem 0;

    // 複数列の時、フォントサイズ小さく。
    &.has-columns,
    .wp-block-columns {

        @include pc {
            font-size: .9rem;
        }

    }

    & > .l-container {

        @include pc {
            display: flex;
        }
    }

    .w-footer {

        @include pc {
            flex-basis: 100%;
        }

    }

    .w-footer + .w-footer {

        @include pc {
            margin-left: 2rem;
        }

        @include sp {
            margin-top: 2rem;
        }
    }

}


.l-footer__foot {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

// フッターナビ
.l-footer__nav {
    // padding: .5em 0 1em;
    margin-bottom: 1rem;

    a {
        display: block;
        padding: 0 .5rem;
        color: inherit;
        font-size: .8rem;

        &:not(:hover) {
            text-decoration: none;
        }

        @include tab {
            padding: 0 .75em;
            // font-size: 13px;
        }
    }

    .sub-menu {
        display: none;
    }
}

.c-copyright {
    font-size: .8rem;
    text-align: center;
}

@import "./footer/modals";
