@charset "UTF-8";

.l-footer {
    position: relative;
    z-index: 0;
    color: #333;
    background-color: #fff;

    a,
    span {
        color: inherit;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
    }

}

// フッターナビ
.l-footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5em 0 1em;

    a {
        display: block;
        padding: .25em .5em;
        color: inherit;
        font-size: .8em;

        &:not(:hover) {
            text-decoration: none;
        }

        @include tab {
            padding: 0 .75em;
            // font-size: 13px;
        }
    }

    .sub-menu {
        display: none;
    }
}

.l-footer__inner {

    @include sp {
        // #fix_bottom_menuと同じ値
        padding-bottom: calc(env(safe-area-inset-bottom) * .5);
    }
}

.l-footer__widgets {
    padding: 2em 0;

    & > .l-container {

        @include pc {
            display: flex;
        }
    }

    .w-footer {

        @include pc {
            flex-basis: 100%;
        }

    }

    .w-footer + .w-footer {

        @include pc {
            margin-left: 2em;
        }

        @include sp {
            margin-top: 2em;
        }
    }

}


.l-footer__foot {
    padding-top: 1em;
    padding-bottom: 1em;

    .l-footer__widgetArea + & {
        border-top: solid 1px rgba(150, 150, 150, .5);
    }
}

.l-footer__widgetArea {
    padding-top: 1em;
    padding-bottom: 1em;
}


@import "./footer/modals";
