.l-header {
    top: 0; //fixされた時用
    z-index: 100;
    width: 100%;
    color: #333;
    background: #fff;

    &[data-pcfix="1"] {

        @include pc {
            position: sticky;
        }
    }

    &[data-spfix="1"] {

        @include sp {
            position: sticky;
        }
    }

    // Stickeyの時
    .admin-bar & {
        top: 32px;

        @media (max-width: 782px) {
            top: 46px;
        }
    }


    // 配置され得るが、スマホでは非表示にする要素
    @include sp {

        .c-gnavWrap,
        .c-customBox,
        .wp-block-social-links {
            display: none;
        }
    }

}

.l-header__body {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;

    @include sp {
        padding-right: 2vw;
        padding-left: 2vw;
    }

    // ヘッダーの中にグローバルナビがある時
    // .c-gnavWrap {
    //     margin-right: 0;
    //     margin-left: auto;
    // }
}

.l-header__left {
    display: flex;
    align-items: center;
}

.l-header__right {
    display: flex;
    align-items: center;
    align-self: stretch;
    min-width: 40px;
    margin-left: auto;
}

.l-header__center {
    padding: 8px 0;
    line-height: 1;

    @include sp {
        flex-basis: 100%;
        // padding: 4px;
        text-align: center;
    }

    // @include pc {
    //     margin-right: auto;
    // }

    .c-catchphrase {
        margin-top: 4px;
        font-size: 12px;
        letter-spacing: .2px;

        @include sp {
            width: 100%;
            font-size: 10px;
        }
    }
}

.l-header__logo {

    display: flex;
    align-items: center;

    @include sp {
        justify-content: center;
        height: var(--logo_size_sp);
    }

    @include pc {
        height: var(--logo_size_pc);

    }

}

.c-headLogo {
    display: block;
    max-width: 400px;
    color: inherit;
    font-weight: normal;
    text-decoration: none;

    &[data-logo-type="img"] {
        height: 100%;
    }

    &[data-logo-type="txt"] {

        font-size: 5vw;

        @include tab {
            font-size: 24px;
        }
    }
}

.c-headLogo__img {
    // display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
    // font-family: "object-fit: contain;";
}

.l-header__menuBtn,
.l-header__customBtn {
    position: relative;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    line-height: 1.25;
    text-align: center;

    // @include sp {
    //     // position: absolute;
    //     margin: 0 2vw;
    // }

    &.has-bg-color {
        width: var(--header_body_height);
        height: var(--header_body_height);
        margin: 0;
    }

}

.l-header__customBtn {
    z-index: 1;
}

.l-header__menuBtn {
    z-index: 2;
}

@include sp {

    .l-header__menuBtn {
        left: 0;
    }

    .l-header__customBtn {
        right: 0;
    }
}


[data-logo-pos="center"] {

    @include pc {


        .l-header__left {
            flex-basis: 25%;
            max-width: 25%;
        }

        .l-header__menuBtn:not(.u-only-sp) + .l-header__left {
            flex-basis: calc(25% - 40px);
            max-width: calc(25% - 40px);
        }

        .l-header__right {
            flex-basis: 25%;
            justify-content: flex-end;
            max-width: 25%;
        }

        .l-header__center {
            flex-basis: 50%;
            // max-width: 50%;
            // margin-right: auto;
            // margin-left: auto;

            .c-catchphrase {
                text-align: center;
            }
        }

        .l-header__logo {
            justify-content: center;
        }
    }
}
