// 拡張プラグインでのみ利用される。 -> あとで移動
.l-header__bar {
    position: relative;

    @include sp {
        display: none;
    }

    .l-header__barInner {
        display: flex;
        justify-content: flex-end;
    }

    .c-catchphrase {
        width: 50%;
        margin-right: auto;
        padding: 4px 0;
        overflow: hidden;
        font-size: 11px;
        // line-height: 14px;
        letter-spacing: .2px;
        white-space: nowrap;
    }

    .c-iconList {
        justify-content: flex-end;
        width: 50%;
        margin-left: auto;

        .c-iconList__link {
            margin: 0;
            padding: 4px 6px;
        }
    }

    .c-customBox,
    .wp-block-social-links {
        margin-left: 8px;
    }

    .wp-block-social-links {

        .wp-social-link {

            width: 20px;
            height: 20px;
            margin-right: 4px;
            padding: 0;
            // border-radius: 36px;
            a {
                padding: 2px;
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.l-header__body {

    .wp-block-social-links {

        .wp-social-link {
            width: 28px;
            height: 28px;
            margin-right: 4px;
            padding: 0;

            a {
                padding: 4px;
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &.is-style-logos-only {

            .wp-social-link {
                width: 28px;
                height: 28px;

                a {
                    padding: 2px;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
