
.l-content__sidebar {
    position: relative;

    @include pc {
        font-size: .9rem;
    }

    @include sp {
        margin-top: 4rem;
    }

    [data-sidebar="on"] & {

        @include pc {
            width: 320px;
        }
    }

}
