
.wp-block-columns {

    @include pc {
        flex-wrap: nowrap;
    }

    @include pc {

        .wp-block-column {
            flex-basis: calc(50% - 1rem);
            flex-grow: 0;
        }

        .wp-block-column:not(:first-child) {
            margin-left: 2rem;
        }
    }

    @include sp {
        flex-wrap: wrap; //(min-width: 782px) で nowrap にされるので明示的に指定
    }
}

.wp-block-column {
    margin-top: 0;
    margin-bottom: 0;

    @include sp {

        // :only-child の時用
        flex-basis: 100%; //tab縦サイズの時にもコアと同じ指定を

        // 5.6 から詳細度アップ
        &:not(:only-child) {
            flex-basis: 100% !important;
        }

        &:not(:first-child) {
            //600px以上で :nth-child(2n)に、782px以上で:not(:first-child)に 32pxついてしまう
            margin-left: 0;
        }

        & + .wp-block-column {
            margin-top: 2rem;
        }
    }
}
