//プルクォート
.wp-block-pullquote {
	padding: 2rem 0;
	font-size: 1.2em; // コア: 1.5em
	text-align: center;
	border-top: solid 2px currentcolor;
	border-bottom: solid 2px currentcolor;

	&.alignleft {
		float: none;
		max-width: 100%;
		text-align: left;
	}

	&.alignright {
		float: none;
		max-width: 100%;
		text-align: right;
	}

	> blockquote {
		margin: 0;
		padding: .5rem;
		background: none;
		border-left: none !important;
	}


	// コアから消えたスタイル
	// &.is-style-solid-color {
	// 	padding: 2rem;
	// 	background-color: var(--ark-color--gray);

	// 	blockquote {
	// 		max-width: 100%;
	// 		text-align: inherit;
	// 	}
	// }
}
