// 「最新の投稿」
.widget_recent_entries,
.wp-block-latest-posts:not(.is-grid) {

	li {
		position: relative;
		margin: 0;
		border-bottom: solid 1px var(--ark-color_border);
	}

	a {
		position: relative;
		display: block;
		padding: var(--ark-nav-padding, .75rem .5rem);
		color: inherit;
		text-decoration: none;
		transition: background-color .25s;

		&:hover {
			background-color: var(--ark-hover_gray);
		}

	}
}

.wp-block-latest-posts:not(.is-grid),
.widget_recent_entries ul {
	border-top: solid 1px var(--ark-color_border);
}

.wp-block-latest-posts {

	> li::after {
		display: block;
		clear: both;
		height: 0;
		content: "";
	}

	// リスト型
	// &:not(.is-grid) {}

	// グリッド型
	// &.is-grid{}

	// タイトル
	// a{}
}

// サムネイル
.wp-block-latest-posts__featured-image {

	// エディター側にはクラスついていない
	> img {
		display: block;
		width: 100%;
	}

	&.alignleft,
	&.alignright {
		max-width: 40%;
	}
}

// レガシーの日付部分
.recent_entries_date {
	display: block;
	margin-top: 2px;
}
