//ファイルブロック
.wp-block-file {

	&.wp-block-file {
		font-size: .9em;
	}

	.wp-block-file__button {
		display: inline-flex;
		padding: .5em 1em;
		color: #fff;
		font-size: .9em;
		line-height: 1.5;
		text-decoration: none;
		background: var(--ark-color--main);
		border-radius: 2em;
	}
}

