
/*
 * memo: --wp-column-gap は Arkhe側で用意している変数
 */

.wp-block-columns {
	--wp-column-gap: 2rem;

	gap: var(--wp-column-gap) !important;

	.wp-block-column {
		margin: 0 !important;
	}

	// pc
	// @media (min-width: 782px) {}

	// tablet区間
	// @media (min-width: 600px) and (max-width: 781px) {}
}
