
[class^="arkhe-icon-"],
[class*=" arkhe-icon-"] {
    font-weight: normal;

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: arkhe-icon !important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: never;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arkhe-icon-person::before {
    content: "\e910";
}

.arkhe-icon-check::before {
    content: "\e900";
}

.arkhe-icon-chevron-down::before {
    content: "\e901";
}

.arkhe-icon-chevron-left::before {
    content: "\e902";
}

.arkhe-icon-chevron-right::before {
    content: "\e903";
}

.arkhe-icon-chevron-up::before {
    content: "\e904";
}

.arkhe-icon-close::before {
    content: "\e905";
}

.arkhe-icon-menu::before {
    content: "\e906";
}

.arkhe-icon-search::before {
    content: "\e907";
}

.arkhe-icon-link::before {
    content: "\e908";
}

.arkhe-icon-modified::before {
    content: "\e909";
}

.arkhe-icon-posted::before {
    content: "\e90a";
}

.arkhe-icon-comment::before {
    content: "\e90b";
}

.arkhe-icon-tag::before {
    content: "\e90c";
}

.arkhe-icon-folder::before {
    content: "\e90d";
}

.arkhe-icon-rss::before {
    content: "\e90e";
}

.arkhe-icon-home::before {
    content: "\e90f";
}
