
// .l-content__main__body に p-article をつける
.p-entry__head {

    .c-postMetas {
        margin-top: 1rem;
        font-size: .75rem;
        letter-spacing: .1px;
    }
}


.p-entry__content.c-postContent {
    margin-bottom: 4rem;
}

.p-entry__foot {

    .c-postMetas {
        font-size: .8rem;
    }
}
