// FIxボタン系
.p-fixBtnWrap {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    // transform: translateY(-8px);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;

    [data-scrolled="true"] & {
        // transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    @include pc {
        right: 2em;
        bottom: 2em;
    }

    @include sp {
        // #fix_bottom_menuと同じ値
        padding-bottom: calc(env(safe-area-inset-bottom) * .5);

        #fix_bottom_menu + & {
            bottom: 64px;
        }
    }
}
