// FIxボタン系
.p-fixBtnWrap {
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;

    @include tab {
        right: 40px;
        bottom: 40px;
    }

    [data-scrolled="true"] & {
        visibility: visible;
        opacity: 1;
    }

    @include sp {
        // #fix_bottom_menuと同じ値
        padding-bottom: calc(env(safe-area-inset-bottom) * .5);

        // #fix_bottom_menu + & {
        //     bottom: 64px;
        // }
    }
}
