.alignfull {
    position: relative;
    left: calc(50% - 50vw);
    width: 100vw;
    max-width: 100vw;

    @supports (--css: variables) {
        left: calc(50% - ( 50vw - var(--ark-scrollbar_width) / 2 ));
        width: calc(100vw - var(--ark-scrollbar_width));
    }

    & + .alignfull {
        margin-top: 0;
    }


    // サイドバー有りの時、コンテンツエリアでは幅を制限
    [data-sidebar="on"] .l-main & {

        @include pc {
            left: -16px;
            width: calc(100% + 32px);
        }
    }

    // グループ（背景色あり）・カバーブロックの余白量を大きく。
    &.wp-block-cover,
    &.wp-block-group.has-background {
        padding: 4em var(--ark-pad--container, 48px);
    }

    // カバー & 背景色付きグループのインナーコンテンツの最大幅を他のコンテンツと揃える。
    & > .wp-block-cover__inner-container,
    &.has-background > .wp-block-group__inner-container {
        max-width: var(--ark-article_width);
        margin: 0 auto;

        // さらにその中の全幅は、内部に収まるように。（左右のpaddingまで）
        & > .alignfull {
            left: calc(50% - ( 50vw - var(--ark-pad--container) ));
            width: calc(100vw - var(--ark-pad--container) * 2);
        }
    }

    // メディアと文章ブロック
    &.wp-block-media-text .wp-block-media-text__content {

        @include pc {
            padding-right: 2.5em;
            padding-left: 2.5em;
        }
    }

}
