.u-flex {
    display: flex;
}

.u-flex--aic {
    display: flex;
    align-items: center;
}

.u-flex--aicw {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

// .u-flex--jcc {
//     display: flex;
//     justify-content: center;
// }

.u-flex--c {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
