// rem
.has-xsmall-font-size {
    font-size: .75rem !important;
}

.has-small-font-size {
    font-size: .9rem !important;
}

.has-normal-font-size {
    font-size: 1rem !important;
}

.has-large-font-size {
    font-size: 1.25rem !important;
}

.has-xlarge-font-size {
    font-size: 1.5rem !important;
}

.has-huge-font-size {
    font-size: 2rem !important;
}

// .has-giant-font-size


// em
.u-fz-xs {
    font-size: .75em !important;
}

.u-fz-s {
    font-size: .9em !important;
}

.u-fz-n {
    font-size: 1em !important;
}

.u-fz-l {
    font-size: 1.25em !important;
}

.u-fz-xl {
    font-size: 1.5em !important;
}

.u-fz-xxl {
    font-size: 2em !important;
}
