
// 単位：rem (memo: ブロック単位で変化するサイズなので、remにしている
.has-xsmall-font-size {
	font-size: .75rem !important;
}

.has-small-font-size {
	font-size: var(--wp--preset--font-size--small) !important;
}

.has-normal-font-size {
	font-size: var(--wp--preset--font-size--normal) !important;
}

.has-large-font-size {
	font-size: var(--wp--preset--font-size--large) !important;
}

.has-xlarge-font-size {
	font-size: var(--wp--preset--font-size--x-large) !important;
}

.has-huge-font-size {
	font-size: var(--wp--preset--font-size--huge) !important;
}


// 単位: em （memo: インラインテキストでも使われる想定）
.u-fz-xs {
	font-size: .75em !important;
}

.u-fz-s {
	font-size: .9em !important;
}

.u-fz-n {
	font-size: 1em !important;
}

.u-fz-l {
	font-size: 1.25em !important;
}

.u-fz-xl {
	font-size: 1.5em !important;
}

.u-fz-xxl {
	font-size: 2em !important;
}
