// fs_系は ブロックのツールバーでも使っているので消せない。

// 相対サイズ
.u-fz-xs,
.has-xs-font-size {
    font-size: .75em !important;
}

.u-fz-s,
.has-small-font-size {
    font-size: .9em !important;
}

.u-fz-n,
.has-normal-font-size {
    font-size: 1em !important;
}

.u-fz-m,
.has-medium-font-size {
    font-size: 1.1em !important;
}

.u-fz-l,
.has-large-font-size {
    font-size: 1.25em !important;
}

.u-fz-xl,
.has-huge-font-size {
    font-size: 1.5em !important;
}
