.u-lh-10 {
    line-height: 1 !important;
}

.u-lh-12 {
    line-height: 1.2 !important;
}

.u-lh-14 {
    line-height: 1.4 !important;
}

.u-lh-15 {
    line-height: 1.5 !important;
}

.u-lh-16 {
    line-height: 1.6 !important;
}

.u-lh-18 {
    line-height: 1.8 !important;
}

.u-lh-20 {
    line-height: 2 !important;
}
