
// margin-bottom
.u-mb-0 {
    margin-bottom: 0 !important;
}
// remベース
.u-mb-5 {
    margin-bottom: .5rem !important;
}

.u-mb-10 {
    margin-bottom: 1rem !important;
}

.u-mb-15 {
    margin-bottom: 1.5rem !important;
}

.u-mb-20 {
    margin-bottom: 2rem !important;
}

.u-mb-25 {
    margin-bottom: 2.5rem !important;
}

.u-mb-30 {
    margin-bottom: 3rem !important;
}

.u-mb-40 {
    margin-bottom: 4rem !important;
}

.u-mb-50 {
    margin-bottom: 5rem !important;
}

.u-mb-60 {
    margin-bottom: 6rem !important;
}

.u-mb-80 {
    margin-bottom: 8rem !important;
}

// margin-top
.u-mt-0 {
    margin-top: 0 !important;
}
// remベース
.u-mt-5 {
    margin-top: .5rem !important;
}

.u-mt-10 {
    margin-top: 1rem !important;
}

.u-mt-15 {
    margin-top: 1.5rem !important;
}

.u-mt-20 {
    margin-top: 2rem !important;
}

.u-mt-25 {
    margin-top: 2.5rem !important;
}

.u-mt-30 {
    margin-top: 3rem !important;
}

.u-mt-40 {
    margin-top: 4rem !important;
}

.u-mt-50 {
    margin-top: 5rem !important;
}

.u-mt-60 {
    margin-top: 6rem !important;
}

.u-mt-80 {
    margin-top: 8rem !important;
}
