.u-mb-ctrl + * {
    margin-top: 0 !important;
}

// margin-bottom
.u-mb-0 {
    margin-bottom: 0 !important;
}
// emベース
.u-mb-5 {
    margin-bottom: .5em !important;
}

.u-mb-10 {
    margin-bottom: 1em !important;
}

.u-mb-15 {
    margin-bottom: 1.5em !important;
}

.u-mb-20 {
    margin-bottom: 2em !important;
}

.u-mb-25 {
    margin-bottom: 2.5em !important;
}

.u-mb-30 {
    margin-bottom: 3em !important;
}

.u-mb-40 {
    margin-bottom: 4em !important;
}

.u-mb-50 {
    margin-bottom: 5em !important;
}

.u-mb-60 {
    margin-bottom: 6em !important;
}

.u-mb-80 {
    margin-bottom: 8em !important;
}

// margin-top
.u-mt-0 {
    margin-top: 0 !important;
}
// emベース
.u-mt-5 {
    margin-top: .5em !important;
}

.u-mt-10 {
    margin-top: 1em !important;
}

.u-mt-15 {
    margin-top: 1.5em !important;
}

.u-mt-20 {
    margin-top: 2em !important;
}

.u-mt-25 {
    margin-top: 2.5em !important;
}

.u-mt-30 {
    margin-top: 3em !important;
}

.u-mt-40 {
    margin-top: 4em !important;
}

.u-mt-50 {
    margin-top: 5em !important;
}

.u-mt-60 {
    margin-top: 6em !important;
}

.u-mt-80 {
    margin-top: 8em !important;
}
