.u-obf-cover {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    font-family: "object-fit: cover;";
}

.u-obf-contain {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    font-family: "object-fit: contain;";
}
