/* --------------------------------------
	WP class
-------------------------------------- */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

// ?
.sticky {
    display: block;
}

// ?
.bypostauthor {
    color: inherit;
}
