// iconファイルの読み込み。main / editor 用。
// ( カスタマイザー用のCSSは階層が変わるので別で読み込んでいる。 )
@font-face {
    font-weight: normal;
    font-family: arkhe-icon;
    font-style: normal;
    src:
        url(../../assets/fonts/icomoon.woff2?s7d81) format("woff2"),
        url(../../assets/fonts/icomoon.ttf?s7d81) format("truetype"),
        url(../../assets/fonts/icomoon.woff?s7d81) format("woff"),
        url(../../assets/fonts/icomoon.svg?s7d81#icomoon) format("svg");
}
