@charset "UTF-8";

// mixin
@import "foundation/mixin/**";

// setting
@import "foundation/setting/variable";
@import "foundation/setting/keyframes";
@import "foundation/setting/placeholder";

// icon
@import "icon";
@import "foundation/icon/icomoon";

// root 変数
@import "foundation/base/root";

// レイアウト系 (EXテンプレート用) -> ファイル分ける？
@import "layout/article";
@import "layout/container";
@import "layout/header";
@import "object/component/gnav";

// object
@import "object/**";

// post_content
@import "post_content/editor";
@import "post_content/common/utility";
@import "post_content/common/blocks/**";
@import "post_content/gutenberg/**";
